name: Update Mortgage Rates
on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch: # Allows manual trigger

jobs:
  fetch-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Fetch FRED Data
        run: |
          curl "https://api.stlouisfed.org/fred/series/observations?series_id=MORTGAGE30US&api_key=${{ secrets.FRED_API_KEY }}&file_type=json&limit=1&sort_order=desc" > public/rates.json

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CALCYOURLATOR_SITE }}
